// Global Styles
@import '../../../utilities/globalStyles';

// Utilities
@import '../../../utilities/variables';

.articleList {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.articleContainer {
  margin-bottom: 40px !important;
  padding-bottom: 20px;
  border-bottom: 1px solid $main-yellow;
}

.articleDate {
  text-align: start;
  font-style: italic;
  font-family: $main-font;
  font-size: 13px;
}

.articleTitle {
  text-align: start;
  margin: 5px 0px 20px 0px;
  font-family: $main-font;
  font-size: 24px;
  color: $main-yellow;
  font-weight: bolder;
}

.articleSample {
  text-align: start;
  width: 40vw;
  font-family: $content-font;
}
