@import '../../../utilities/global';

.projectCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 15px 0px 15px;
  min-width: 20%;
  @include responsive-mobile {
    min-width: 100vw;
    margin: 30px 0px 0px 0px;
  }
}

.projectImage {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.projectName {
  font-family: $main-font;
  color: $main-yellow;
  text-decoration: none;
  margin: 10px 0px;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.2s;
  transition-property: color;
  &:hover {
    color: $main-yellow-darker;
  }
}

.projectDate {
  font-family: $main-font;
  font-style: italic;
}
