// Global Styles
@import '../../../utilities/globalStyles';

// Utilities
@import '../../../utilities/variables';

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;
}
