// Global Styles
@import '../../../utilities/globalStyles';

// Utilities
@import '../../../utilities/variables';

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.projectCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 15px 0px 15px;
  min-width: 20%;
}

.projectImage {
  max-width: 300px;
}

.projectName {
  font-family: $main-font;
  color: $main-yellow;
  text-decoration: none;
  margin: 10px 0px;
  font-size: 20px;
  font-weight: bold;
}

.projectDate {
  font-family: $main-font;
  font-style: italic;
}
