// Global Styles
@import '../../../utilities/globalStyles';

// Utilities
@import '../../../utilities/variables';

.navbar_container {
  position: fixed;
  margin-top: -61px;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  height: $navbar-height;
  align-items: center;

  background-color: $blue-gray;
}

.menu {
  display: flex;
}

.navbar_logo {
  width: 120px;
  align-self: center;
  margin: 10px 30px 10px 30px;
  margin-left: 3vw;
}
