// Global Styles
@import '../../../utilities/globalStyles';

// Utilities
@import '../../../utilities/variables';

.navbar_logo {
  width: 120px;
  align-self: center;
  margin: 10px 30px 10px 30px;
  margin-left: 3vw;
}
