// Global Styles
@import '../../../utilities/globalStyles';

// Utilities
@import '../../../utilities/variables';

.body {
  min-height: calc(100vh - (61px * 2));
  position: relative;
}

.nonHomepageBody {
  background-color: $blue-gray;
}

.pageContainer {
  margin-top: 61px;
  padding-bottom: 20px;
  animation-name: curtainEffect;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes curtainEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// .homepageCurtain {
//   position: absolute;
//   height: 100vh;
//   left: 0;
//   right: 0;
//   background-color: $blue-gray;
//   animation-name: homepagecurtainEffect;
//   animation-duration: 0.2s;
//   animation-timing-function: ease-in-out;
//   animation-fill-mode: forwards;
// }

// @keyframes homepagecurtainEffect {
//   from {
//     opacity: 1;
//   }
//   to {
//     opacity: 0;
//   }
// }

.footerContainer {
  position: absolute;
  width: 100vw;
  bottom: -61px;
}
