// Global Styles
@import '../../../utilities/globalStyles';

// Utilities
@import '../../../utilities/variables';

.body {
  background-color: $blue-gray;
  min-height: calc(100vh - (61px * 2));
  position: relative;
}

.pageContainer {
  margin-top: 61px;
  padding-bottom: 20px;
}

.footerContainer {
  position: absolute;
  width: 100vw;
  bottom: -61px;
}
