@import '../../../utilities/global';

.body {
  min-height: calc(100vh - (61px * 2));
  position: relative;
}

.navbarContainer {
  display: block;
}

.navbarMobileContainer {
  display: none;
}

.homePageBackgroundImage {
  // background-image: url('https://arnaldo10cisne.github.io/legacy_personal_website/assets/img/medellin-large.jpg') !important;
  background-position: 60% 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.pageContainer {
  margin-top: 61px;
  padding-bottom: 20px;
  animation-name: curtainEffect;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes curtainEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footerContainer {
  position: absolute;
  width: 100vw;
  bottom: -61px;
}

@media (max-width: $mobile-styles-applied) {
  .navbarContainer {
    display: none;
  }

  .navbarMobileContainer {
    display: block;
  }
}
