// Global Styles
@import '../../../utilities/globalStyles';

// Utilities
@import '../../../utilities/variables';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 51px);
  background-color: $blue-gray-transparent;
  padding-left: 100px;
}

.titleContainer {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  font-weight: bold;

  .preTitle {
    text-align: start;
    font-size: 30px;
    font-size: 2vw;
  }

  .title {
    text-align: start;
    font-size: 7.8vw;
    color: $main-yellow;
    margin: -10px 0px;
  }

  .postTitle {
    text-align: start;
    font-size: 30px;
    font-size: 2vw;
  }
}

.presentationTextContainer {
  font-family: $content-font;
  font-size: 2vw;
  margin-top: 35px;
  padding-right: 40%;

  .presentationText {
    text-align: start;
  }
}

.actionButtonContainer {
  display: flex;
  margin-top: 35px;

  .actionButton {
    align-self: flex-start;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    padding: 5px 10px;
  }
}

@media (max-width: $mobile-styles-applied) {
  .hero {
    padding-left: 20px;
  }
  .titleContainer {
    margin-top: -100px;
    .preTitle {
      font-size: 5vw;
    }
    .title {
      text-align: start;
      font-size: 14vw;
      margin: 10px 0px;
      margin-left: 20px;
      line-height: 13vw;
    }
    .postTitle {
      font-size: 4vw;
      margin-left: 20px;
    }
  }
  .presentationTextContainer {
    font-size: 4.5vw;
    padding-right: 40px;
    margin-left: 20px;
    .presentationText {
      text-align: justify;
    }
  }
}
