// Global Styles
@import '../../../utilities/globalStyles';

// Utilities
@import '../../../utilities/variables';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 51px);
  background-color: $blue-gray-transparent;
  padding-left: 100px;
}

.titleContainer {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  font-weight: bold;

  .preTitle {
    text-align: start;
    font-size: 30px;
  }

  .title {
    text-align: start;
    font-size: 7.8vw;
    color: $main-yellow;
    margin: -10px 0px;
  }

  .postTitle {
    text-align: start;
    font-size: 30px;
  }
}

.presentationTextContainer {
  font-family: $content-font;
  font-size: 25px;
  margin-top: 35px;
  padding-right: 500px;

  .presentationText {
    text-align: start;
  }
}

.actionButtonContainer {
  display: flex;
  margin-top: 35px;

  .actionButton {
    align-self: flex-start;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    padding: 5px 10px;
  }
}
